.contato{
    padding: 1em;
    background-color: var(--branco);
}

.contato-titulo, .contato-texto{
    background-color: var(--azul-degrade);
    -webkit-background-clip: text;
    background-clip: text;
}

.contato-titulo{
    font-size: 18px;
    font-weight: 500;
}

.contato-texto{
    font-weight: 300;
    margin: 1em 0;
}

.contato-barra{
    padding: 1em;
    border: 1px solid var(--azul);
    border-radius: 24px;
    width: 90%;
    color: var(--azul);
}

.contato-barra::placeholder{
    font-family: var(--fonte-principal);
    color: var(--azul);
    background: url(../imagens/Email.svg) no-repeat;
    padding-left: 2em;
}

@media screen and (min-width:1024px){
    .contato{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .contato-descricao{
        margin: 1em;
        width: 30%;
    }

    .contato-titulo{
        font-size: 24px;
        color: var(--azul);
    }

    .contato-barra{
        width: 30%;
    }
}

@media screen and (min-width:1728px){
    .contato{
        padding: 3em 10vw;
    }

    .contato-barra{
        width: 20% ;
    }
}